<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "nav.html" %}
    <h2>Seller Dashboard</h2>

<hr>

<div class="row">
  <div class="col-md-4">
    <div class="card p-3">
      <h5>My Products</h5>
      <p>Manage your products</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card p-3">
      <h5>Orders</h5>
      <p>View customer orders</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card p-3">
      <h5>Profile</h5>
      <p>Update shop details</p>
    </div>
  </div>
</div>
</body>
</html>