<!DOCTYPE html>
<html>
<head>
    <title>Customer Dashboard</title>
</head>
<body>

{% include "nav.html" %}

<h2>Welcome, {{ user.username }}</h2>

<hr>

<h3>My Profile</h3>
<p><strong>Email:</strong> {{ user.username }}</p>
<p><strong>Role:</strong> Customer</p>

<hr>

<h4>My Orders</h4>

<ul>
    {% for order in orders %}
        <li>
            <a href="{% url 'order_detail' order.id %}">
                Order #{{ order.id }}
            </a>
            - ₹{{ order.total_price }}
            - {{ order.status }}
        </li>
    {% empty %}
        <li>No orders yet</li>
    {% endfor %}
</ul>

</body>
</html>
